</main>
<footer>
    <div id="gl-footer">
	<div class="container">
	    
	    <div id="gl-footer-grid-2">

		<div id="glf2-1">
		    						    <div id="glf-logo-wrapper">
				<img src="${logo_footer}" alt="BAC Logistics" />
			    </div>
					    
		    <div id="glf2-nav">
						    								    <div class="glfb-nav-item">
					<a href="/">
					    <span>Home</span>
					</a>
				    </div>
							    								    <div class="glfb-nav-item">
					<a href="/about/">
					    <span>About</span>
					</a>
				    </div>
							    								    <div class="glfb-nav-item">
					<a href="/services/">
					    <span>Services</span>
					</a>
				    </div>
							    								    <div class="glfb-nav-item">
					<a href="/contact/">
					    <span>Contact</span>
					</a>
				    </div>
							    								    <div class="glfb-nav-item">
					<a href="/information/privacy-policy.html">
					    <span>Privacy Policy</span>
					</a>
				    </div>
							    					    </div>
		</div>
		
		<div id="glf2-2">
		    
		    <div id="glf2-copyright">
						    				<span>Copyright © 2026 All Rights Reserved | BAC Logistics</span>
			    					    </div>
		    
		</div>
		
	    </div>

	</div>
    </div>
</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
