	<div id="gl-header-top">
	    <div class="container">
		<div id="glht-grid">

		    <div id="glht-cta-btns" class="gl-hide-on-mobile">
						    								    <div class="glht-cta-btn">
										    <a href="/contact/" class="btn-white"><span>Get A Quote</span></a>
					    				    </div>
							    								    <div class="glht-cta-btn">
										    <a href="tel:${phone_tel}" class="btn-white"><span>Phone Us</span></a>
					    				    </div>
							    								    <div class="glht-cta-btn">
										    <a href="https://wa.me/${whatsapp}" class="btn-white"><span>WhatsApp</span></a>
					    				    </div>
							    					    </div>
		    
		    <div id="glht-socials">
			


				    				    
				     <div class="glht-social-item gl-hide-on-desktop">
					 <a href="/contact/" aria-label="Email" target="_blank">
					     <i class="fa-solid fa-envelope"></i>
					 </a>
				     </div>
				 			     				
				    
				    				    
				     <div class="glht-social-item gl-hide-on-desktop">
					 <a href="tel:${phone_tel}" aria-label="Phone" target="_blank">
					     <i class="fa-solid fa-phone"></i>
					 </a>
				     </div>
				 			     				
				    
				    				    
				     <div class="glht-social-item gl-hide-on-desktop">
					 <a href="https://wa.me/${whatsapp}" aria-label="WhatsApp" target="_blank">
					     <i class="fab fa-whatsapp"></i>
					 </a>
				     </div>
	

				    
				    				    
				    <div class="glht-social-item">
					<a href="${social_facebook}" aria-label="Facebook" target="_blank">
					    <i class="fab fa-facebook"></i>
					</a>
				    </div>
							    				
				    
				    				    
				    <div class="glht-social-item">
					<a href="${social_youtube}" aria-label="Youtube" target="_blank">
					    <i class="fab fa-youtube"></i>
					</a>
				    </div>
							    				
				    
				    				    
				    <div class="glht-social-item">
					<a href="${social_instagram}" aria-label="Instagram" target="_blank">
					    <i class="fab fa-instagram"></i>
					</a>
				    </div>
							    				
				    
				    				    
				    <div class="glht-social-item">
					<a href="${social_linkedin}" aria-label="LinkedIn" target="_blank">
					    <i class="fab fa-linkedin"></i>
					</a>
				    </div>
							    			    
			    			    
						
		    </div>
		</div>
	    </div>
	</div>
	
