	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Organization",
	  "@id": "https://baclogistics.co.za/#organization",
	  "name": "BAC Logistics",
	  "url": "https://baclogistics.co.za/",
	  "logo": "https://baclogistics.co.za${logo_footer}",
	  "foundingDate": "1999",
	  "address": {
	    "@type": "PostalAddress",
	    "streetAddress": "28 San Croy Office Park, 25 Die Agora Road",
	    "addressLocality": "Croydon",
	    "addressRegion": "Gauteng",
	    "addressCountry": "ZA"
	  },
	  "contactPoint": {
	    "@type": "ContactPoint",
	    "contactType": "customer service",
	    "telephone": "${phone_tel}",
	    "email": "info@baclogistics.co.za",
	    "areaServed": "ZA",
	    "availableLanguage": "en"
	  },
	  "sameAs": [
	    "${social_linkedin}",
	    "${social_youtube}",
	    "${social_facebook}",
	    "${social_instagram}"
	  ]
	}
	</script>
